.track {
    height: 150px;
    background-color: white;;
    width: 100%;
    /*padding: 35px 0 ;*/
    /*margin: 30px 0;*/

}



h1 {
  color: white;
  /*margin: 40px;*/
}

body  {
  background: black;
}

.car {
    position: relative;
    height: 70px;
    width: 70px;

}
