.track {
    height: 110px;
    background-color: white;;
    margin-bottom: 20px;
    padding: 20px 10px;

}

h1 {
  color: white;
  font-size: 30px;
  font-family: 'Exo', sans-serif;
  margin-bottom: 20px

}

h3 {
  color: lightgrey;
  left: 40%;
  font-family: 'Exo', sans-serif;

}

body  {
  background: black;
  color: lightblue;
  font-family: 'Exo', sans-serif;
}

.car {
    padding-top: 1px;
    position: relative;
    height: 70px;
    width: 70px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.reset {
  background-color: #34ACED;
  color: white;
  font-family: 'Exo', sans-serif
}

.reset:hover {
  background-color: lightblue;
  color: blue;
}

.hide {
  display:none;
}
