.track {
    height: 140px;
    background-color: white;
}

div {
    margin: 20px;
}

h1 {
  color: white;
}

body  {
  background: black;
}

.car {
    margin: 30px;
    position: relative;;
    height: 75px;
    width: 75px;
}
